In [204]:
# import dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd
from pprint import pprint

### NASA Mars News

In [205]:
# Initiate splinter
!which chromedriver
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

/usr/local/bin/chromedriver

In [206]:
# Set the featured image url and browser
news_url = "https://mars.nasa.gov/news/"

# Visit the URL using splinter 
browser.visit(news_url)

# Create HTML object
html = browser.html

# Parse HTML with Beautiful Soup
news_soup = BeautifulSoup(html, 'html.parser')

In [207]:
# Scrape the URL to find the latest news and get the 'title' and 'paragraph' of the latest news
article = news_soup.find("div", class_='list_text')
news_title = article.find("div", class_="content_title").text
news_p = article.find("div", class_ ="article_teaser_body").text

# print the news title and paragraph text
print(f"news_title: {news_title}")
print(f"news_p: {news_p}")
# print(article)

news_title: NASA Engineers Checking InSight's Weather Sensors
news_p: An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.

### JPL Mars Space Images - Featured Image

In [208]:
# URL for getting the featured image
featured_img_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

# Initiate browser to visit the URL
browser.visit(featured_img_url)

In [209]:
# Click the 'FULL IMAGE' button on the page
browser.click_link_by_partial_text("FULL IMAGE")

In [210]:
# Click the 'more info' button on the page
browser.click_link_by_partial_text("more info")

In [211]:
# Created HTML object
featured_html = browser.html

# Parse HTML with Beautiful Soup
featured_img_soup = BeautifulSoup(featured_html, 'html.parser')

In [212]:
# Scrape the webpage to get the 'Featured Image' source
figure = featured_img_soup.find("figure", class_ = "lede")
a_tag = figure.find("a")
img_tag = figure.find("img")
img_source = img_tag["src"]

# Base URL
base_url = "https://www.jpl.nasa.gov"

# Get the 'featured image URL' by adding the base_url and the featured_image_url
featured_image_url = base_url + img_source
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA08003_hires.jpg'

### Mars Facts

In [213]:
# Mars facts web page URL
facts_url = "https://space-facts.com/mars/"

# Read HTML tables from the DataFrame
tables = pd.read_html(facts_url)

In [214]:
# Display the table
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [215]:
# Scrape the table containing facts about the planet including Diameter, Mass, etc.
df = tables[0]

# Rename the column's header
df.columns = ["Description", "Mars"]

# Set the index to the 'Description' column
mars_df = df.set_index(["Description"])
mars_df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [216]:
# Generate HTML tables from the DataFrame
mars_facts_html = mars_df.to_html()
mars_facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [217]:
# Strip unwanted '/n' tags to clean up the table
mars_facts_html = mars_facts_html.replace('\n', '')
mars_facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [218]:
# Save the table directly to HTML file
mars_df.to_html("facts.html")

# We can open the file directly in browser
!open facts.html


### Mars Hemispheres

In [219]:
# Set the featured image url and browser
mars_hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

browser.visit(mars_hemi_url)

In [220]:
# Created HTML object
mars_html = browser.html

# Parse HTML with Beautiful Soup
mars_hemi_soup = BeautifulSoup(mars_html, 'html.parser')

In [221]:
# Set an empty list to hold the title and image address of the hemispheres
hemisphere_image_urls = []

# Scrape all the "div" with "description" as class. This will give an iterable list
hemispheres = mars_hemi_soup.find_all("div", class_ = "description")

# Scrape the web page and get the required data
for hemisphere in hemispheres:
    title = hemisphere.find("h3").text.strip("Enhanced")
    browser.click_link_by_partial_text(title)
    new_html = browser.html
    new_hemi_soup = BeautifulSoup(new_html, 'html.parser')
    part_url = new_hemi_soup.find("img", class_ = "wide-image")["src"]
    
    base_url = "https://astrogeology.usgs.gov"
    img_url = base_url + part_url
    
    hemi_info_dict = {"title" : title,
                     "img_url" : img_url}
    hemisphere_image_urls.append(hemi_info_dict)

pprint(hemisphere_image_urls)

/Users/preeti/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/splinter/driver/webdriver/__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

[{'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere '},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/128cba41ce2abd401c82c6a55d3b466a_schiaparelli_unenhanced.tif_full.jpg',
  'title': 'Schiaparelli Hemisphere '},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/55f04ff759b242bdff8833374544b1be_syrtis_major_unenhanced.tif_full.jpg',
  'title': 'Syrtis Major Hemisphere '},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/5277a23c6d8a3a325985965390cb77a2_valles_marineris_unenhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere '}]